{{#paper-toolbar accent=true}}
  {{#paper-toolbar-tools}}
    <h2>
      {{#link-to 'employees'}}
        {{paper-icon "people"}}
        {{title}}
      {{/link-to}}
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}